<?php

return [
	'navigation' => [
		'default' => [
			'settings' => [
				'label' => 'Innstillinger',
				'route' => 'user/list',
				'pages' => [
					'user' => [
						'label' => 'Brukere',
						'route' => 'user/list',
						'pages' => [
							'editaccess' => [
								'label' => 'Tilgang',
								'route' => 'user/editaccess',
							],
							'createSoapUser' => [
								'label' => 'Opprett Vismabruker',
								'route' => 'user/createSoapUser',
							],
							'selectGroup' => [
								'label' => 'Velg firma',
								'route' => 'user/selectGroup',
							],
						],
					],
				],
			],
		],
		'login' => [
			'login' => [
				'label' => 'Logg inn',
				'route' => 'auth/login',
			],
		],
	],
];